*{margin: 0;padding: 0;}
ul,li{list-style: none;}
a{text-decoration: none;}
body,html{
	width: 100%;
	min-width: 1920px;
	height: 100%;
	overflow: auto;
	background-image: url(../images/DetailWork/bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	position: relative;
	display: flex;
}
#logo{
	width: 47px;
	height: 42px;
	position: absolute;
	left: 48px;
	top: 30px;
}
#logo img{
	width: 100%;
	height: 100%;
}
#user{
	width: 42px;
	height: 42px;
	position: absolute;
	top: 30px;
	right: 48px;
	border-radius: 50%;
	overflow: hidden;
}
#return{
	width: 34px;
	height: 34px;
	position: fixed;
	bottom: 74px;
	right: 48px;
}
#content{
	width: 1600px;
	height: 817px;
	background-color: #dbdbdb;
	margin: auto;
	display:flex;
	justify-content: space-between;           
}
.sidebar{
	width: 1060px;
	height: 100%;
	background-color: #fff;
	padding: 0 40px;
}
.sidebar h2{
	font-size: 24px;
	padding-top: 40px;
	color: #696969;
}
.sidebar p{
	font-size: 15px;
	color: #919191;
	padding-top: 16px;
	width: 300px;
	float: left;
}
.sidebar p span{
	margin-left: 34px;
}
.sidebar_r{
	float: right;
	padding-top: 18px;
}
.sidebar_r i{
	float: left;
	margin-left: 25px;
	font-size: 12px;
	color: #b8b8b8;
	vertical-align: middle;
	line-height: 16px;
	font-style: normal;
}
.sidebar_r i span{
	display: inline-block;
	width: 18px;
	height: 18px;
	margin-right: 4px;
}
.sidebar_r i span img{
	margin: auto;
}
.sidebar_pic{
	width: 1071px;
	height: 578px;
	background-color: #ccc;
	clear: both;
	margin-top: 74px;
}
.sidebar_pic img{
	width: 100%;
	height: 100%;
}
.about{
	width: 450px;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	background-color: #fff; 
}
.about_user{
	width: 450px;
	height: 342px;
	border-bottom: 1px solid #e1e1e1;
}
.about_userPic{
	width: 200px;
	text-align: center;
	margin:auto;
	padding-top: 40px;
	margin-bottom: 40px;
}
.about_userPic span{
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	overflow: hidden;
	margin-bottom: 40px;
}
.about_userPic span img{
	width: 100%;
	height: 100%;
}
.about_userPic h3{
	width: 200px;
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
	font-size: 16px;
	color: #696969;
}
.about_userPic p{
	width: 100%;
	color: #afafaf;
	font-size: 12px;
	line-height: 20px;
}
.about_userLike{
	width: 304px;
	height: 48px;
	background-color: #fa6d39;
	border-radius: 24px;
	text-align: center;
	line-height: 48px;
	display: flex;
	justify-content: center;
	font-size: 14px;
	color: #fff;
	margin: auto;
}
.about_userLike span{
	width: 26px;
	height: 26px;
	display: inline-block;
	margin-right: 4px;
	background-image: url(../images/DetailWork/icon/like-big-icon.png);
	background-repeat: no-repeat;
	background-size: 100%;
	vertical-align: middle;
}
.about_userLike span img{
	width: 100%;
}
.about_list{
	height: 526px;
	width: 100%;
	border-bottom: 1px solid #e1e1e1;
}
.about_list_inner{
	padding: 30px;
	background-color: #fff;
}
.about_list_inner h4{
	font-size: 14px;
	color: #696969;
}
.inner_list{
	width: 340px;
	height: 340px;
	padding: 20px;
	background-color: #f3f3f3;
	margin: 28px auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.inner_list li{
	width: 160px;
	height: 160px;
}
.about_list_inner>span{
	float: right;
	font-size: 12px;
	color: #3ab3ff;
}
.about_comments{
	width: 100%;
}
.about_comments_inner{
	padding: 30px;
}
.about_comments_inner h4{
	font-size: 14px;
	color: #696969;
}
.form{
	width: 100%;
	padding: 30px 0;
}
.text{
	width: 100%;
	height: 48px;
	border: 1px solid #e4e4e4;
	overflow: hidden;
	line-height: 25px;
	margin-bottom: 30px;
	background-color: #f3f3f3;
	border-radius: 3px;
}
.text textarea{
	width: 360px;
	line-height: 20px;
	border:none;
	padding: 10px;
	font-size: 12px;
	background-color: #f3f3f3;
	color: #b0b0b0;
}
.form button{
	width: 68px;
	height: 32px;
	border:none;
	font-size: 12px;
	background-color: #3ab3ff;
	border-radius: 3px;
	color: #fff;
	float: right;
}
.comments_list{
	width: 100%;
}
.comments_list li{
	width: 380px;
	height: 120px;
	background-color: #fff;
	padding: 0 30px
}
.comments_list li:nth-child(odd)
{
	background:#f9f9f9;
}
.comments_pic{
	width: 80px;
	height: 120px;
	display: flex;
	float: left;
}
.comments_pic i{
	width: 60px;
	height: 60px;
	overflow: hidden;
	border-radius: 50%;
	font-style: normal;
	margin: auto;
}
.comments_pic i img{
	width: 100%;
	height: 100%;
}
.comments_title{
	float: left;
	width: 300px;
	padding: 37px 0;
}
.comments_title h2{
	width: 180px;
	font-size: 12px;
	overflow: hidden;
	white-space:nowrap;
	text-overflow: ellipsis;
	float: left;
	color: #696969;
	line-height: 16px;
}
.comments_title span{
	color: #b0b0b0;
	font-size: 12px;
	line-height: 16px;
}
.comments_title p{
	font-size: 14px;
	color: #696969;
}
.loading{
	width: 100%;
	height: 32px;
	padding: 32px 0;
	display: flex;
}
.loading span{
	display: inline-block;
	width: 100px;
	height: 32px;
	border-radius: 16px;
	border: solid 1px #3ab3ff;
	color: #3ab3ff;
	font-size: 12px;
	text-align: center;
	line-height: 32px;
	margin:auto;
}





