*{margin: 0;padding: 0;}
ul,li{list-style: none;}
a{text-decoration: none;}
body,html{
	width: 100%;
	height: 100%;
	min-width: 1920px;
	position: relative;
	overflow: auto;
	background-color: #f9f9f9;
	display: flex;
}
#logo{
	position: absolute;
	left: 48px;
	top: 30px;
	width: 47px;
	height: 42px;
}
#logo img{
	width: 100%;
	height: 100%;
}

#user{
	position: absolute;
	right: 48px;
	top: 30px;
	width: 42px;
	height: 42px;
	border-radius: 50%;
}
#login_btn{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('../images/login/login.png');
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
}

/*工具样式*/
#tools{
	position: absolute;
	font-size: 12px;
	left: 0;
    top: 0;
    display: none;
}
#tools li{
	position: absolute;
	width: 40px;
	height: 40px;
	background: #fa6d39;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	color: #fff;
	z-index: 100;
	opacity: 0;
	cursor: pointer;
	background-color: transparent;
	background-size: cover;
	background-repeat: no-repeat;
}
#tools li:nth-child(1){
	/*left: -76px;opacity: 1;*/
	background-image: url('../images/login/icon-me.png');
	animation: toggle_one .35s linear forwards;
}
#tools li:nth-child(2){
	/*left: -56px;top: 54px;opacity: 1;*/
	background-image: url('../images/login/icon-task.png');
	animation: toggle_second .35s .2s forwards;
}
#tools li:nth-child(3){
	left: 2px;
	/*top: 78px;opacity: 1;*/
	background-image: url('../images/login/icon-exit.png');
	animation: toggle_third .35s .4s forwards;
}
@keyframes toggle_one{
	from{left: 0;opacity: 0;}
	to{left: -76px;opacity: 1;}
}

@keyframes toggle_second{
	from{left: 0;top: 0;opacity: 0;}
	to{left: -56px;top: 54px;opacity: 1;}
}

@keyframes toggle_third{
	from{top: 0;opacity: 0;}
	to{top: 78px;opacity: 1;}
}
#login_btn{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('../images/login/login.png');
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
}

/*工具样式*/
#tools{
	position: absolute;
	font-size: 12px;
	left: 0;
    top: 0;
    display: none;
}
#tools li{
	position: absolute;
	width: 40px;
	height: 40px;
	background: #fa6d39;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	color: #fff;
	z-index: 100;
	opacity: 0;
	cursor: pointer;
	background-color: transparent;
	background-size: cover;
	background-repeat: no-repeat;
}
#tools li:nth-child(1){
	/*left: -76px;opacity: 1;*/
	background-image: url('../images/login/icon-me.png');
	animation: toggle_one .35s linear forwards;
}
#tools li:nth-child(2){
	/*left: -56px;top: 54px;opacity: 1;*/
	background-image: url('../images/login/icon-task.png');
	animation: toggle_second .35s .2s forwards;
}
#tools li:nth-child(3){
	left: 2px;
	/*top: 78px;opacity: 1;*/
	background-image: url('../images/login/icon-exit.png');
	animation: toggle_third .35s .4s forwards;
}
@keyframes toggle_one{
	from{left: 0;opacity: 0;}
	to{left: -76px;opacity: 1;}
}

@keyframes toggle_second{
	from{left: 0;top: 0;opacity: 0;}
	to{left: -56px;top: 54px;opacity: 1;}
}

@keyframes toggle_third{
	from{top: 0;opacity: 0;}
	to{top: 78px;opacity: 1;}
}

#return{
	width: 34px;
	height: 34px;
	position: fixed;
	right: 48px;
	bottom: 78px;
}
#content{
	width: 1600px;
	height: 816px;
	margin: auto;
	display: flex;
	justify-content: space-between;
}
.sidebar{
	width: 380px;
	height: 100%;
	background-color: #fff;
	border-radius: 3px;
}
.sidebar_top{
	width: 100%;
	height: 380px;
	position: relative;
	display: flex;
}
.modification{
	display: none;
	position: absolute;
	top: 23px;
	right: 29px;
	width: 28px;
	height: 28px;
}
.sidebar_user{
	margin: auto;
}
.user_pic{
	margin: auto;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.user_pic img{
	width: 100%;
	height: 100%;
	border-radius: 50%;
}
.sidebar_user h2{
	width: 200px;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	padding-top: 20px;
	line-height: 30px;
	font-weight: 400px;
	color: #696969;
	font-size: 20px;
}
.sidebar_user p{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	width: 200px;
	font-size: 12px;
	color: #b8b8b8;
}
.sidebar_user>span{
	display: inline-block;
	text-align: center;
	width: 200px;
	color: #696969;
	font-size: 14px;
	line-height: 20px;
	margin-top: 30px;
}
.sidebar_cen{
	width: 100%;
	height: 147px;
	box-sizing: border-box;
	border-top: 1px solid #f4f4f4;
	border-bottom: 1px solid #f4f4f4;
}
.sidebar_cen p{
	height: 50%;
	margin: 0 30px;
	line-height: 72px;
	font-size: 14px;
	color: #333a48;
}
.sidebar_cen p i{
	display: inline-block;
	width: 28px;
	height: 28px;
	margin-right: 20px;
	position: relative;
	vertical-align: middle;
}
.sidebar_cen p i img{
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}
.sidebar_cen p span{
	float: right;
	font-size: 20px;
	color: #b8b8b8;
}
.sidebar_bot{
	width: 100%;
	height: 292px;
	position: relative;
}
.species{
	height: 30px;
	margin-top: 30px;
}
.species li{
	float: left;
	padding: 8px 14px;
	border-radius: 2px;
	color: #fff;
	margin-left: 30px;
	margin-bottom: 10px;
	font-size: 12px;
	background-color: #fa6d39;
}
.release{
	display: none;
	width: 120px;
	height: 40px;
	background-image:linear-gradient(90deg, #ff6753 0%, #fb9241 100%),linear-gradient(#fa6d39, #fa6d39); 
	background-blend-mode: normal, 
	normal;
	border-radius: 3px;
	position: absolute;
	top: 147px;
	left: 50%;
	transform: translateX(-50%);
	cursor: pointer;
	transition: 0.5s box-shadow;
}
.release:hover{
	box-shadow: 4px 4px 10px #999;
}
.release p{
	font-size: 14px;
	color: #fff;
	text-align: center;
	line-height: 40px;
}
.workList{
	width: 1200px;
	height: 100%;
	background-color: #fff;
	border-radius: 3px;
}
.listMune{
	width: 100%;
	height: 73px;
	display: flex;
	justify-content: center;
	line-height: 72px;
	border-bottom: 1px solid #e1e1e1;
}
.listMune li{
	border-bottom: 3px solid #00bac1;
	font-size: 14px;
}
.listNum{
	height: 32px;
	padding: 30px;
	font-size: 12px;
	line-height: 30px;
}
.listNum>span{
	display: inline-block;
	padding: 5px 14px;
	background-color: #fa6d39;
	border-radius: 3px;
	color: #fff;
}
.listNum i{
	float: right;
	font-style: normal;
	color: #c1c1c1;
}
#page{
	font-size: 14px;
	color: #666;
}
.list{
	padding: 0 30px;
	height: 616px;
	/* display: flex;
	flex-wrap: wrap;
	justify-content: space-between; */
}
.list li{
	width: 266px;
	height: 277px;
	border: 1px solid #f1f1f1;
	box-sizing: border-box;
	cursor: pointer;
	transition:  0.3s box-shadow;
	float: left;
	margin-left: 18px;
	margin-bottom: 28px;
}
.list li:hover{
	box-shadow: 3px 4px 9px #999;
}
.list_shang{
	width: 100%;
	height: 155px;
	overflow: hidden;
	position: relative;
}
.list_shang img{
	width: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.list_zhong{
	height: 55px;
	background-color: #fff;
	padding: 10px 20px;
}
.list_zhong i{
	margin-right: 25px;
	font-size: 12px;
	vertical-align: middle;
	color: #b8b8b8;
}
.list_zhong span{
	display: inline-block;
	background-repeat: no-repeat;
	margin-right: 4px;
}
.look{
	width: 18px;
	height: 12px;
	background-image: url(../images/Member/icon/watch-icon.png);
}
.comments{
	width: 14px;
	height: 14px;
	background-image: url(../images/Member/icon/comment-icon.png);

}
.praise{
	width: 16px;
	height: 14px;
	background-image: url(../images/Member/icon/like-icon.png);
}
.list_zhong h3{
	width: 100%;
	font-size: 14px;
	color: #696969;
	line-height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.list_xia{
	padding: 10px 20px;
	height: 26px;
	color: #696969;
	font-size: 12px;
	line-height: 26px;
	background-color: #f4f4f4;
}
.list_xia span{
	float: right;
}
.pager{
	width: 110px;
	height: 30px;
	display: flex;
	float: right;
	justify-content: space-between;
	margin-right: 30px;
}
.btn{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #cfcfcf;
	display: flex;
}
.btn:hover{
	background: #fa6d39;
}
.btn img{
	margin: auto;
}
.bounced{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	color: #696969;
	background-color: rgba(0,0,0,.5);
	display: flex;
	display: none;
}
.upload{
	width: 740px;
	height: 709px;
	background-color: #fff;
	margin: auto;
	padding: 30px;
	position: relative;
}
.upload>h3{
	font-size: 20px;
	color: #525252;
	padding-bottom: 18px;
}
.upload>p{
	font-size: 14px;
	line-height: 16px;
	color: #525252;
	padding-bottom: 20px;
	font-weight: 600;
}
.upload>p span{
	font-size: 12px;
	color: #b8b8b8;
	margin-left: 28px;
	font-weight: 500;
}
.work_name{
	width: 100%;
	height: 48px;
	margin-bottom: 30px;
}
.work_name input{
	width: 500px;
	height: 48px;
	background-color: #f4f4f4;
	border-radius: 3px;
	border: solid 1px #d5d5d5;
	outline:none;
	font-size: 12px;
	color: #696969;
	padding: 0 20px;
}
.tip{
	display: inline-block;
	margin-left: 70px;
}
.tip span{
	font-size: 12px;
	color: #ff4747;
}
.tip span i{
	width: 24px;
	height: 24px;
	border-radius: 50%;
	background-color: #ff4747;
	font-style: normal;
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
	color: #fff;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
}

.work_classify .select{
	display: inline-block;
	position: absolute;
	width: 141px;
	height: 48px;
	box-sizing: border-box;
	background: #f4f4f4;
	color: #696969;
	border-radius: 3px;
 	border: solid 1px #d5d5d5;
 	line-height: 48px;
  font-size: 12px;
  z-index: 2;
}
.select:hover{
	border-color: #a59f9f;
}
.select span{
	display: inline-block;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	padding-left: 18px;
	cursor: pointer;
	user-select: none;
}
.select i{
	display: block;
	position: absolute;
	top: 15px;
	right: 14px;
	border:10px solid #696969;
	border-radius: 100%;
	border-right: none;
	border-bottom: none;
	border-left: none
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	transform: rotateZ(45deg);
	cursor: pointer;
}
.select i::after{
	content: "";
	transform: rotate(-45deg);
	position: absolute;
	top: -14px;
	left: -14px;
	display:block;
	width: 10px;
	height: 10px;
	background: #f4f4f4;
}
#work_url{
	width: 379px;
	height: 48px;
	box-sizing: border-box;
	background: #f4f4f4;
  border-radius: 3px;
  border: solid 1px #d5d5d5;
  outline: none;
  font-size: 12px;
  color: #696969;
  padding: 0 20px;
  margin-left: 164px;
}
.select_content{
	width: 100%;
	padding-top: 4px;
	display: none;
	background: #fff;
}
.select_ul{
	display: flex;
	border:1px solid #e1e1e1;
	border-radius: 3px;
}
.select_ul li{
	flex: 1;
	text-align: center;
	cursor: pointer;
	height: 36px;
	line-height: 36px;
}
.select_second_ul{
	margin-top: 2px;
	border:1px solid #e1e1e1;
	max-height: 343px;
	overflow-y: auto;
}
.select_second_ul li{
	height: 38px;
	margin: 4px 0;
	padding-left: 15px;
	cursor: pointer;
}
.select_ul li:hover,.select_second_ul li:hover{
	background: #f4f4f4;
}
#upload_img{
	width: 100%;
	height: 164px;
	box-sizing: border-box;
	border:2px dashed #d5d5d5;
	margin-top: 70px;
	border-radius: 10px;
	position: relative;
	padding-top: 20px;
}
#upload_img h3{
	font-size: 14px;
	position: absolute;
	left: 0;
	top: -30px;
}
#upload_img h3 span{
	font-size: 12px;
	color: #b8b8b8;
	margin-left: 28px;
	font-weight: 500;
}
#upload_img h3 span i{
	font-style: normal;
	color: #fa6d39;
}
#upload_img .tip{
	position: absolute;
	top: 20px;
	right: 50px;
}
#upload_img .tip2{
	top: 190px;
}
#upload_img .box{
	width: 100%;
	height: 100%;
	overflow: hidden;
}
#upload_images,#upload_cover{
	display: none;
}
#ulimg_label,#cover_label{
	display: inline-block;
	width: 124px;
	height: 124px;
	line-height: 160px;
	text-align: center;
	background: #f4f4f4;
	border-radius: 6px;
	font-size: 12px;
	position: relative;
	border: 1px solid #f4f4f4;
	box-sizing: border-box;
}
#cover_label{
	width: 164px;
	height: 164px;
	top: 30px;
	left: 0px;
	line-height: 194px;
}
#cover_label2{
	display: inline-block;
	font-size: 12px;
	position: relative;
	left: -120px;
	top: 110px;
	display: none
}
#cover_label2:hover{
	color: #fa6d39;
	cursor: pointer;
}
.coverimg_box{
	position: absolute;
	width: 164px;
	height: 164px;
	top: 190px;
	left: 0px;
	z-index: 2;
	background: #e1e1e1;
	display: none;
}
#cover_img{
	position: absolute;
	max-width: 164px;
	max-height: 164px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#ulimg_label::after,#cover_label::after{
	content: "";
	display: inline-block;
	position: absolute;
	left: 50%;
	top: 40%;
	border-radius: 50%;
	transform: translate(-50%,-50%);
	width: 24px;
	height: 24px;
	background: #fa6d39;
}
#ulimg_label::before,#cover_label::before{
	content:"+";
	position: absolute;
	left: 50%;
	top: 40%;
	border-radius: 50%;
	transform: translate(-50%,-50%);
	width: 24px;
	height: 24px;
	background: #fa6d39;
	line-height: 24px;
	z-index: 1;
	color: #fff;
	font-size: 18px;
	font-weight: 800;
}
#ulimg_label:hover,#cover_label:hover{
	transition: background,border 0.3s ;
	background: #e1e1e1;
	border-color:#ccc;
}
#uploadImg_show{
	box-sizing: border-box;
	max-width: 100%;
	height: 124px;
	display: inline-block;
	border-radius: 6px;
	float: left;
	display: flex;
	margin-left: 14px;
}
#uploadImg_show li{
	background: red;
	width: 126px;
	margin-right: 20px;
	border-radius: 6px;
	overflow: hidden;
	position: relative;
	background: #D4D4D4;
	cursor: pointer;
}
#uploadImg_show li:last-child{
	margin-right: 14px;
}
#uploadImg_show li img{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	border-radius: 6px;
	cursor: pointer;
}
#uploadImg_show li span{
	display: inline-block;
	width: 20px;
	height: 20px;
	background: rgba(255,255,255,0.7);
	border-radius: 50%;
	position: absolute;
	top: 6px;
	right: 6px;
	text-align: center;
	line-height: 20px;
	font-size: 12px;
	z-index: 1;
}
#uploadImg_show li span:hover{
	background: rgba(255,255,255,1);
}

.upload .upload_btn{
	position: absolute;
	bottom: 25px;
	left: 30px;
}
.upload .upload_btn .btn{
	display: inline-block;
	width: 120px;
	height: 40px;
	border-radius: 6px;
	text-align: center;
	line-height: 40px;
	font-size: 14px;
	cursor: pointer;
}
#btn_t{
	background: #fa6d39;
	color: #fff;
}
#btn_f{
	background: #fff;
	border:1px solid #b8b8b8;
	margin-left: 15px;
}

.colorOrange{
	color: #fa6d39;
}
#uploadIngBg{
	/*display: inline-block;*/
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.2);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	display: none;
}
#uploadIngBg i{
	font-style: normal;
	display: inline-block;
	text-align: center;
	width: 30%;
	/*height: 110px;*/
	line-height: 110px;
	background: #fff;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}