*{margin: 0;padding: 0;}
ul,li{list-style: none;}
a{text-decoration: none;}
body,html{
	width: 100%;
	min-width: 1920px;
	height: 100%;
	background-image: url(../images/teamWork/bg.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	overflow: auto;
	display: flex;
	font-family: AdobeHeitiStd-Regular;
}
#logo{
	width: 47px;
	height: 42px;
	position: fixed;
	top: 32px;
	left: 47px;
}
#logo img{
	width: 100%;
}
#user{
	position: absolute;
	right: 48px;
	top: 30px;
	width: 42px;
	height: 42px;
	border-radius: 50%;
}
#login_btn{
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url('../images/login/login.png');
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 50%;
}

/*工具样式*/
#tools{
	position: absolute;
	font-size: 12px;
	left: 0;
    top: 0;
    display: none;
}
#tools li{
	position: absolute;
	width: 40px;
	height: 40px;
	background: #fa6d39;
	border-radius: 50%;
	text-align: center;
	line-height: 40px;
	color: #fff;
	z-index: 100;
	opacity: 0;
	cursor: pointer;
	background-color: transparent;
	background-size: cover;
	background-repeat: no-repeat;
}
#tools li:nth-child(1){
	/*left: -76px;opacity: 1;*/
	background-image: url('../images/login/icon-me.png');
	animation: toggle_one .35s linear forwards;
}
#tools li:nth-child(2){
	/*left: -56px;top: 54px;opacity: 1;*/
	background-image: url('../images/login/icon-task.png');
	animation: toggle_second .35s .2s forwards;
}
#tools li:nth-child(3){
	left: 2px;
	/*top: 78px;opacity: 1;*/
	background-image: url('../images/login/icon-exit.png');
	animation: toggle_third .35s .4s forwards;
}
@keyframes toggle_one{
	from{left: 0;opacity: 0;}
	to{left: -76px;opacity: 1;}
}

@keyframes toggle_second{
	from{left: 0;top: 0;opacity: 0;}
	to{left: -56px;top: 54px;opacity: 1;}
}

@keyframes toggle_third{
	from{top: 0;opacity: 0;}
	to{top: 78px;opacity: 1;}
}

#content{
	width: 1200px;
	height: 770px;
	margin: auto;
}
.category{
	width: 510px;
	height: 43px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
.category li{
	width: 140px;
	height: 43px;
	background-color: #fff;
	border-radius: 3px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.category li i{
	width: 22px;
	height: 22px;
	background-repeat: no-repeat;
	margin-right: 13px;
	overflow: hidden;
}
.kz{
	background-image: url(../images/teamWork/icon/CoolWeb-icon.png);
	background-position-y: 4px;
}
.ps{
	background-image: url(../images/teamWork/icon/designr-icon.png);
}
.dh{
	background-image: url(../images/teamWork/icon/animation-icon.png);
}
.category li:hover{
	background-color: #fa6d39;
}
.category li:hover i{
	background-position-y: -26px;
}
.category li span{
	font-family: AdobeHeitiStd;
	font-size: 14px;
	color: #696969;
}
.category li:hover span{
	color: #fff;
}
.category .category_on {
	background-color: #fa6d39;
}
.category .category_on i{
	background-position-y: -26px;
}
.category .category_on span{
	color: #fff;
}
.works{
	width: 100%;
	font-size: 14px;
	margin: 21px 0;
	height: 14px;
	line-height: 14px;
}
.works li{
	color: #3ABAE9;
	cursor: pointer;
	float: left;
}
.works>i{
	float: right;
	font-size: 12px;
	font-style: normal;
	color: #b8b8b8;
}
.worksList{
	width: 100%;
	height: 616px;
}
.worksList li{
	width: 264px;
	height: auto;
	overflow: hidden;
	cursor: pointer;
	float: left;
	margin-right: 48px;
	margin-bottom: 47px;
}
.worksList li:nth-child(4), .worksList li:nth-child(8){
	margin-right: 0;
}
.worksList li:nth-child(4n){
	margin-bottom: 0;
}
.worksList li a{
	display: block;
	width: 100%;
	height: 100%;
}
.worksList_shang{
	width: 100%;
	height: 155px;
	overflow: hidden;
}
.worksList_shang img{
	width: 100%;
	height: 100%;
}
.worksList_zhong{
	height: 55px;
	background-color: #fff;
	padding: 10px 20px;
}
.worksList_zhong i{
	margin-right: 25px;
	font-size: 12px;
	vertical-align: middle;
	color: #b8b8b8;
}
.worksList_zhong span{
	display: inline-block;
	background-repeat: no-repeat;
	margin-right: 4px;
}
.look{
	width: 18px;
	height: 12px;
	background-image: url(../images/teamWork/icon/watch-icon.png);
}
.comments{
	width: 14px;
	height: 14px;
	background-image: url(../images/teamWork/icon/comment-icon.png);

}
.praise{
	width: 16px;
	height: 14px;
	background-image: url(../images/teamWork/icon/like-icon.png);
}
.worksList_zhong h3{
	width: 100%;
	font-size: 14px;
	color: #696969;
	line-height: 40px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.worksList_xia{
	padding: 10px 20px;
	height: 26px;
	color: #696969;
	display: flex;
	justify-content: center;
	font-size: 12px;
	line-height: 26px;
	background-color: #f4f4f4;
}
.worksList_xia>div{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	overflow: hidden;
	margin-right: 10px;
	transform: translateY(-2px);
}
.worksList_xia>div img{
	width: 100%;
	height: 100%;
}
.worksList_xia p{
	width: 120px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.pager{
	width: 78px;
	height: 30px;
	display: flex;
	float: right;
	justify-content: space-between;
	opacity: 0;
}
.btn{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #cfcfcf;
	display: flex;
}
.btn img{
	margin: auto;
}




